* {
  padding: 0px;
  margin: 0px;
  font-family: "Ubuntu", sans-serif; }

body {
  background-color: papayawhip;
  font-size: 62.5%; }

a:not(.nav-link) {
  display: block;
  border-style: outset;
  border-radius: 10px;
  border-color: #7bc5ab;
  background-color: papayawhip;
  color: #3e250a;
  text-decoration: none;
  padding: 10px;
  margin: 5px;
  text-align: center;
  font-size: small;
  text-shadow: 1px 1px 1px #8b8b8b;
  transition: 1s; }

a:hover:not(.nav-link) {
  background-color: #7bc5ab;
  border-style: inset;
  border-color: goldenrod;
  color: #3e250a; }

nav {
  background-image: linear-gradient(#7bc5ab, papayawhip); }
  nav a {
    font-size: large; }

.navAnimation {
  display: block;
  width: 100%;
  height: 3px;
  animation-name: rainbow_bar;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-duration: 20s;
  animation-delay: 1s;
  margin-bottom: 20px; }

@keyframes rainbow_bar {
  0% {
    width: 0%;
    background-color: red; }
  10% {
    width: 10%;
    background-color: orange; }
  20% {
    width: 20%;
    background-color: yellow; }
  30% {
    width: 30%;
    background-color: greenyellow; }
  40% {
    width: 40%;
    background-color: green; }
  50% {
    width: 50%;
    background-color: lightseagreen; }
  60% {
    width: 60%;
    background-color: lightskyblue; }
  70% {
    width: 70%;
    background-color: royalblue; }
  80% {
    width: 80%;
    background-color: darkslateblue; }
  90% {
    width: 90%;
    background-color: blueviolet; }
  100% {
    width: 100%;
    background-color: violet; } }

h1, h2, h3 {
  text-align: center;
  color: #3e250a;
  font-size: x-large; }

input, textarea {
  background-image: url(./../img/moroccan-flower.png); }

footer {
  background-image: linear-gradient(papayawhip, #7bc5ab); }
  footer div {
    width: 100%;
    justify-content: center; }
  footer iframe {
    display: none; }
  footer p {
    font-size: larger;
    margin-bottom: 0px; }

@media screen and (min-width: 768px) {
  footer iframe {
    width: 50%;
    height: 300px;
    display: inline; }
  footer p {
    width: 50%;
    align-self: center;
    text-align: center; } }

.indexOptions {
  width: 90%;
  margin-left: 5%;
  margin-right: 5%; }

.bienvenidos {
  background: url(./../img/beige-tiles.png);
  margin-left: 5%;
  margin-right: 5%; }

.contactForm {
  text-decoration: solid;
  font-size: large;
  line-height: 30px;
  padding: 3px;
  margin: 2rem auto;
  border: 2px groove goldenrod;
  background-image: url(./../img/beige-tiles.png);
  width: 90%; }

@media screen and (min-width: 900px) {
  .contactForm {
    width: 800px; } }

.contactButtons {
  justify-content: space-around;
  display: flex; }

.btn-outline-primary {
  border-color: goldenrod;
  border-style: outset;
  border-width: 2px;
  color: darkgoldenrod; }
  .btn-outline-primary:hover {
    border-color: goldenrod;
    border-style: inset;
    border-width: 2px;
    color: darkgoldenrod;
    background-color: transparent; }

.shopTop {
  display: flex;
  flex-direction: column;
  width: 100%; }

.shopBottom {
  margin-left: auto;
  margin-right: auto; }

.cactus, .suculentas {
  width: 90%;
  margin-bottom: 10px; }

@media screen and (min-width: 768px) {
  .shopTop {
    flex-direction: row;
    width: 100%;
    justify-content: space-around; }
  .cactus, .suculentas {
    width: 40%; }
  .suculentas {
    width: 40%; }
  .shopBottom {
    justify-content: space-around; } }

.card {
  background-image: url(./../img/beige-tiles.png);
  color: #3e250a;
  border: 2px outset;
  border-color: #7bc5ab #7bc5ab papayawhip #7bc5ab; }

.listaGaleria {
  list-style-type: square;
  font-size: medium;
  text-align: left;
  display: none; }

@media screen and (min-width: 768px) {
  .listaGaleria {
    display: block; } }
